<iframe width="560" height="315" src="http://www.youtube.com/embed/y3yjK23YSuM?rel=0" frameborder="0" allowfullscreen></iframe>

<h2 id="catch-copy">"会わずに出会う" 新しいカタチ</h2>
<p id="service-concept">
あの映画見たいな。<br>
そう思ってもなかなか一緒に行く人が見つからない。<br>
そんな経験はありませんか？
</p>
<p id="service-concept">
Cinemeeting（シネミーティング）は<br>
同じ映画を見たい人を探して、同じ映画館にいくことができます。
</p>
<p id="service-concept">
でも、実際に会って一緒に見る必要はありません。<br>
同じ映画館、同じ時間帯で映画を見るという約束だけ交わします。
</p>
<p id="service-concept">
「あの人もこの映画館のどこかで見ているのかな」<br>
そんなドキドキをあなたも味わえるかもしれません。
</p>
<p id="service-concept">
"会わずに出会う" 新しい出会いのカタチ。<br>
まだ見知らぬ"あの人"との出会いにドキドキしましょう。
</p>

<% if user_signed_in? %>
  <div class="alert alert-block alert-success registBox">
    <h4 id="thanks-for-regist">登録ありがとうございます。</h4>
    <!-- <%= link_to 'ログアウト', destroy_user_session_path %> -->
    <div id="reccomend-follow"><small>最新情報はTwitterよりご連絡いたします。ぜひ、Cinemeetingの公式Twitterアカウントをフォローください。</small></div>
    <a href="https://twitter.com/cinemeeting" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-size="large">@cinemeetingをフォロー</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
<% else %>
  <div id="regist-label"><span class="label label-warning" id="regist-label">事前登録&nbsp;受付中！</span></div>
  <div id="regist-btn"><%= link_to "Cinemeetingを試してみる", user_omniauth_authorize_path(:twitter), :class=>'btn btn-large btn-info' %></div>
  <div id="warning-need-tw"><small>※事前登録にはTwitterアカウントが必要です。</small></div>
<% end %>
