// Place all the styles related to the service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#social-button{
  margin-top: 20px;
}

#catch-copy {
  margin-top: 10px;
}

#regist-label {
  margin-top: 18px;
}

#regist-btn {
  margin-top: 12px;
  margin-bottom: 3px;
}

#warning-need-tw {
  margin-bottom: 25px;
}

